* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: #ed5353;
  width: 100vw;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Example padding */
  color: white;
}
.navbar ul {
  display: flex;
  list-style-type: none;

  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.navbar li {
  margin-left: 10px; /* Adjust spacing between items if needed */
}
.list {
    margin-left: 700px;
    display: flex;
 
}
