.header {
  height: 15vh;
  background-position: center;
  display: flex;
  justify-content: space-around;
  gap: 55vw;
  align-items: center;
  border-radius: 0 0 8vh 8vh;
  background-color: #ED5353;
  
  margin-top: -8px;
  
  
}
 
 .job__title {
  color: white;
  font-weight: 700;
  font-size: 2rem;
  font-family: "Lucida Sans";
  margin-left: 2vw;
}

.user__icon {
  height: 10vh;
  width: 20vw;
  /* margin-right: vw; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user__icon > button {
  color: white;
  font-weight: 600;
  font-size: 1rem;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}



.user__icon > span {
  font-weight: 600;
  font-size: 1rem;
  font-family: "Lucida Sans";
  color: white;
}

.navigation__buttons {
  display: flex;
  justify-content: space-around;
  gap: 2vw;
  align-items: center;
  margin-right: 2vw;
}

.header__login {
  height: 6vh;
  width: 9vw;
  background: transparent;
  border: 2px solid white;
  border-radius: 1vh;
  padding: 1vh 2vw;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header__register {
  height: 6vh;
  width: 9vw;
  background-color: white;
  color: #ed5353;
  border: 1px solid white;
  border-radius: 1vh;
  padding: 1vh 2vw;
  font-weight: 600;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
} 