.job-search {
    height: 25vh;
    width: 80vw;
    margin: 5vh auto;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 22px 2px rgba(255, 32, 32, 0.25);
    -moz-box-shadow: 0px 0px 22px 2px rgba(255, 32, 32, 0.25);
    box-shadow: 0px 0px 22px 2px rgba(255, 32, 32, 0.25);
  }
  
  .search-form {
    margin: 1vh 5vw;
    width: 80vw;
    display: flex;
    align-items: center;
  }
  
  .search-bar {
    position: relative;
    display: flex;
    border: 2px solid #ccc;
    border-radius: 2vh;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 2.5vw;
  }
  
  .search-bar > img {
    height: 5vh;
    width: 5vh;
    padding-left: 2vw;
  }
  
  .search-bar > input {
    width: 68vw;
    padding: 2vh 1vw;
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
  }
  
  .search-bar > input:focus {
    outline: none;
    box-shadow: none;
  }
  
  .job__search__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5vw;
    margin-top: 3vh;
    width: 100%;
  }
  
  .add__job__btn {
    height: 6vh;
    width: 15vw;
    border-radius: 1vh;
    border: none;
    background-color: #ed5353;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    margin-right: 5vw;
  }
  
  .select-skills {
    width: 60vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .select-skills > select {
    height: 5vh;
    width: 17vw;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .selected-skills {
    width: 35vw;
  }
  
  .selected-skill {
    display: inline-block;
    background-color: #ffeeee;
    border-radius: 5px;
    padding: 0.5vh 0.5vw;
    margin: 0.5vh 0.5vw;
  }
  
  .remove-skill {
    font-size: larger;
    cursor: pointer;
    color: white;
    background-color: #ff6b6b;
    border: none;
    margin-left: 0.5vw;
  }
  
  .select-skills > button {
    background-color: transparent;
    color: #ff6b6b;
    font-size: 2vw;
    cursor: pointer;
    align-self: flex-end;
    border: none;
    margin-bottom: 0.7vh;
  }