.add__job {
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
  }
  
  .add__job__left {
    height: 100vh;
    width: 55vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 2vw;
  }
  
  .job__form {
    display: flex;
    flex-direction: column;
  }
  
  .add__job__right {
    background-image: url("../../src/assets/addJob.png");
    height: 100vh;
    width: 45vw;
    color: white;
  }
  
  .job__buttons {
    display: flex;
    justify-content: center;
    width: 30vw;
    margin-left: 20vw;
  }
  
  .cancel__addJob {
    height: 5.5vh;
    width: 12vw;
    background-color: #c2c2c2;
    border-radius: 1vh;
    border: none;
    color: #ffffff;
    font-size: 1.2rem;
    margin: 1vh 0 0 0;
  }
  
  .add__job__button {
    height: 5.5vh;
    width: 12vw;
    background-color:  #2ce2a2;
    border-radius: 1vh;
    border: none;
    color: white;
    font-size: 1.2rem;
    margin: 1vh 0 0 1vh;
    cursor: pointer;
  }
  @media screen and (max-width: 768px) {
    .add__job {
        flex-direction: column;
        align-items: stretch;
    }

    .add__job__left,
    .add__job__right {
        width: 100%;
        height: auto;
    }

    .add__job__right {
        background-size: cover;
        background-position: center;
    }

    .job__buttons {
        width: 100%;
        margin-left: 0;
    }
    .add__job__button{
      width:40%;
    }
}