.edit__job {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.edit__job__left {
  height: 100vh;
  width: 55vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 2vw;
  padding: 10px;
}

.job__form {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 50vw;
  margin-top: -7px;
  
}

.job__input {
  height: 10vh;
  width: 50vw;
  display: flex;
  justify-content: space-between;
  /* padding: 20px; */
  padding-top: 20px;
  padding-left: 37px;
}

.job__input > input {
  height: 5vh;
  width: 30vw;
  align-self: flex-start;
  border: #c2c2c2 1px solid;
  color: #c2c2c2;
  border-radius: 1vh;
  padding: 7px;
}

.job__input > label {
  font-weight: 600;
  font-size: 1.2rem;
}

.job__input > select {
  height: 6vh;
  width: 15vw;
  border: #c2c2c2 1px solid;
  color: #c2c2c2;
  border-radius: 1vh;
  padding: 5px;
  margin-right: 17vw;
}

.job__input > textarea {
  height: 8vh;
  width: 30vw;
  resize: none;
  border: #c2c2c2 1px solid;
  color: #c2c2c2;
  border-radius: 1vh;
  padding: 5px;
}

.edit__job__right {
  background-image: url("../../src/assets/addJob.png");
  height: 100vh;
  width: 45vw;
  color: white;
  margin-top: -20px;
  margin-right: -10px;
}

.cancel__updateJob {
  height: 5.5vh;
  width: 12vw;
  background-color: #c2c2c2;
  border-radius: 1vh;
  border: none;
  color: white;
  font-size: 1.2rem;
  margin: 2vh 0 0 0;
}

.update__job__button {
  height: 5.5vh;
  width: 12vw;
  background-color: #2ce2a2;
  border-radius: 1vh;
  border: none;
  color: white;
  font-size: 1.2rem;
  margin: 1vh 0 0 1vh;
  cursor: pointer;
}
textarea {
  padding: 10px;
}
.edit_input{
  margin-right: 4%;
}

/* Media Query for Mobile View */
@media (max-width: 768px) {
    .edit__job {
      flex-direction: column;
      padding: 5px;
    }
  
    .edit__job__left {
      width: 100%;
      height: auto;
      margin: 0;
    }
    .edit__job__right {
      background-image: none;
      height: 0%;
    }
  
  
    .job__form {
      width: 90vw;
      height: auto;
    }
  
    .job__input {
      flex-direction: column;
      width: 100%;
      height: auto;
      padding: 5px;
    }
  
    .job__input > input,
    .job__input > select,
    .job__input > textarea {
      width: 90vw;
      height: auto;
      margin: 5px 0;
    }
  
    .job__input > select {
      margin-right: 0;
    }
  
    .cancel__updateJob,
    .update__job__button {
      width: 60vw;
      height: 7vh;
      font-size: 1rem;
      margin: 2vh 0;
    }
  }