

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profile_container {
  width: 160px;
  height: 130px;
  border-radius: 50%;
  margin-left: 80px;
}
.user_profile {
  height: 150px;
  width: 80%;
  color: #ed5353;
}

h2 {
  background-color: #ed5353;
  color: white;
  height: 40px;
  width: 150px;
  border-radius: 8px;
  text-align: center;
  margin: auto;
  margin-top: 10px;
}
.main_container {
  display: flex;
  gap: 6vw;
}
.info_container {
  height: 150px;
  width: 60%;
  margin-top: 20px;
  -webkit-box-shadow: 0px 0px 22px 2px rgba(255, 32, 32, 0.25);
  -moz-box-shadow: 0px 0px 22px 2px rgba(255, 32, 32, 0.25);
  box-shadow: 0px 0px 22px 2px rgba(255, 32, 32, 0.25);
}
.information {
  padding: 10px;
  font-size: 18px;
  font-weight: 300;
}
d {
  font-size: 22px;
  font-weight: bold;
  background-color: pink;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 22px 2px rgba(255, 32, 32, 0.25);
  -moz-box-shadow: 0px 0px 22px 2px rgba(255, 32, 32, 0.25);
  box-shadow: 0px 0px 22px 2px rgba(255, 32, 32, 0.25);
}
.job_container {
  margin-top: 10px;
 
  margin-left: 10%;
  justify-content: center;
  margin-right: 10%;

}
.list_container {
  list-style-type: none;
}
.job_info_container {
  height: 130px;
  width: 90%;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red;  */
  -webkit-box-shadow: 0px 0px 22px 2px rgba(255, 32, 32, 0.25);
  -moz-box-shadow: 0px 0px 22px 2px rgba(255, 32, 32, 0.25);
  box-shadow: 0px 0px 22px 2px rgba(255, 32, 32, 0.25);
}
.companyname {
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  color:black;
  position: relative;
  top:60px;
  margin-left: 30px;
}
.position {
  color: grey;
  font-size: 3.5vh;
  height: 10%;
  /* width: 15vw; */
  margin-top: 3vh;
  margin-left: 32vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  /* align-items: center; */
  color: #9c9c9c;
  font-weight: 600;
}
.salary {
  margin-right: 4vw;
  color: grey;
  font-size: 3.5vh;
  height: 10%;
  gap: 2vh;
  align-items: center;
  color: #9c9c9c;
  font-weight: 600;
  position: relative;
  left: 150px;
  top: 1rem;
}
.type {
  color: red;
  margin-left: 150px;
  position: relative;
  top:40px;
}
.remoteonsite {
  position: relative;
  left: 200px;
  top: 250px;
}
.location {
  position: relative;
  left: 400px;
  font-size: 3vh;
  font-weight: 500;
  margin-bottom: 0.5vh;
  color: #5b5555;
 width: 100px;
  top: -1rem;
}

.skills {
  height: 7vh;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #FFEEEE;
 text-align: center;
  position: relative;
  left:500px;
  bottom: 10px;
  border-radius: 2px;
  padding: 5px;
}


.button_edit {
  cursor: pointer;
  margin-top: 10px;
  position: absolute;
  left: 70%;
 
}
.edit {
  color: white;
  background-color: #ed5353;
  font-weight: bold;
  border: none;
  margin-top: 10px;
  height: 30px;
  width: 80px;
  border-radius: 5px ;
}
.container{

  margin-left: 1px;
}
