@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.login_main_container {
  display: flex;
  gap: 6vw;
}
.title {
  /* font-family: "DM Sans", sans-serif; */
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 30px;
  text-align: left;
  line-height: 57.61px;
  /* margin-left: 10%; */
  text-align: left;
  margin-left: 65px;
  /* border: 2px solid red;
  width: 70%; */
}

.input_box {
  padding: 8px;
  margin-left: 10%;
}

#login-button {
  background: #2ce2a2;
  color: white;
  border: none;
  height: 28px;
  width: 80px;
  border-radius: 5px;
  margin-left: 11%;
  font-weight: 700;
  
  font-size: 15px;
  cursor: pointer;
}
.text {
  font-size: 16px;
  margin-left: 10%;
}
.login-form-container {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;

  align-items: center;
  margin-left: 50px;

  margin-top: 10%;
}
.Job_finder_image {
  height: 50%;
  width: 100%;
}
.Job_image {
  height: 97vh;
  width: 100%;
}
.login_input {
  width: 70%;
  height: 8vh;
  padding: 15px;
  border-radius: 5px solid gray;

 
  
  
}
@media (max-width: 768px) {
    .login_main_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2vw;
    }
  
    .title, .input_box, #login-button, .text {
      margin-left: 5%;
      text-align: center;
    }
    
    .login-form-container {
      margin-left:-5%;
      margin-top: 5%;
      max-width: 100%;
      
    }
  
    .login_input {
      width: 90%;
      height: 6vh;
      padding: 15px;
      border-radius: 5px solid gray;
    }
  
    .Job_finder_image {
      order: 2;
      height: auto;
    }
  
    .Job_image {
      order: 1;
      height: auto;
      width: 100%;
      margin:  auto,5%;
    }
    .title {
      /* font-family: "DM Sans", sans-serif; */
      font-family: "Merriweather", serif;
      font-weight: 700;
      font-size: 25px;
      text-align: center;
      align-items: center;
      line-height: 45.61px;
      margin-left: 6%;
      max-width: 90%;
    }
    .text{
      margin-left: -19%;
    }
  }
