@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.login_main_container {
  display: flex;
  gap: 6vw;


}
.title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 25px;
  text-align: left;
  line-height: 57.61px;
  margin-left: 10%;
}

.input_box {
  padding: 8px;
  margin-left: 10%;
}

#login-button {
  background: #2ce2a2;
  color: white;
  border: none;
  height: 28px;
  width: 80px;
  border-radius: 5px;
  margin-left: 10%;
}
.text {
  font-size: 16px;
  margin-left: 10%;
}
.login-form-container {

  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;

  align-items: center;
  margin-left: 50px;

  margin-top: 10%;
}
.Job_finder_image {
  height: 50%;
  width: 100%;
}
.Job_image{
  height: 97vh;
  width: 100%;
}
.login_input {
  width: 70%;
  height: 8vh;
}
