.title{
  font-style: "DM Sans";
 font-weight: 700;
 font-size: 25px;
 text-align: left;
 line-height: 57.61px;
}

#register-button{
  background: #ED5353;
    color: white;
    border: none;
    height: 28px;
    width: 80px;
    border-radius: 5px;

}
.Register-text{
  font-size: 16px;
}